/build/
/pycol.egg-info/
/.idea/
/pycol/_cpp/src/pycol_cpp/x64/Release/*
/pycol/_cpp/src/pycol_cpp/Release/*
!pycol/_cpp/src/pycol_cpp/x64/Release/__init__.py
!pycol/_cpp/src/pycol_cpp/x64/Release/pycol_cpp.dll
!pycol/_cpp/src/pycol_cpp/Release/__init__.py
!pycol/_cpp/src/pycol_cpp/Release/pycol_cpp.dll
/pycol/_cpp/src/pycol_cpp/.vs/
/pycol/_cpp/src/pycol_cpp/pycol_cpp.sln
/pycol/_cpp/src/pycol_cpp/pycol_cpp.vcxproj
/pycol/_cpp/src/pycol_cpp/pycol_cpp.vcxproj.filters
/pycol/_cpp/src/pycol_cpp/pycol_cpp.vcxproj.user
