/build/
/dist/
/qspec.egg-info/
/.idea/
/qspec/_cpp/src/qspec_cpp/x64/Release/*
/qspec/_cpp/src/qspec_cpp/Release/*
!qspec/_cpp/src/qspec_cpp/x64/Release/__init__.py
!qspec/_cpp/src/qspec_cpp/x64/Release/qspec_cpp.dll
!qspec/_cpp/src/qspec_cpp/Release/__init__.py
!qspec/_cpp/src/qspec_cpp/Release/qspec_cpp.dll
/qspec/_cpp/src/qspec_cpp/.vs/
/qspec/_cpp/src/qspec_cpp/qspec_cpp.sln
/qspec/_cpp/src/qspec_cpp/qspec_cpp.vcxproj
/qspec/_cpp/src/qspec_cpp/qspec_cpp.vcxproj.filters
/qspec/_cpp/src/qspec_cpp/qspec_cpp.vcxproj.user
