<div class="topnav">
  <div class="topnav-icon">
    <a href="/" ><img src="/assets/images/logo_small.svg" alt="Icon" /></a>
  </div>
  <div class="topnav-items">
    <div class="topnav-content">
      <nav>
        <ul class="topnav-content-ul">
          {% for item in site.data.navigation %}
          <li class="topnav-content-li">
            <a href="{{ item.link }}"{% if page.url == item.link %}class="focus"{% endif %} >
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
          <!--p id="topnav-hor"></p>
          <input type="text" placeholder="Search..."-->
        </ul>
      </nav>
    </div>
  </div>
</div>