pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.py-source .hll { background-color: #ffffcc }
.py-source .c { color: #8f5902; font-style: italic } /* Comment */
.py-source .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.py-source .g { color: #000000 } /* Generic */
.py-source .k { color: #204a87; font-weight: bold } /* Keyword */
.py-source .l { color: #000000 } /* Literal */
.py-source .n { color: #000000 } /* Name */
.py-source .o { color: #ce5c00; font-weight: bold } /* Operator */
.py-source .x { color: #000000 } /* Other */
.py-source .p { color: #000000; font-weight: bold } /* Punctuation */
.py-source .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.py-source .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.py-source .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.py-source .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.py-source .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.py-source .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.py-source .gd { color: #a40000 } /* Generic.Deleted */
.py-source .ge { color: #000000; font-style: italic } /* Generic.Emph */
.py-source .ges { color: #000000; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.py-source .gr { color: #ef2929 } /* Generic.Error */
.py-source .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.py-source .gi { color: #00A000 } /* Generic.Inserted */
.py-source .go { color: #000000; font-style: italic } /* Generic.Output */
.py-source .gp { color: #8f5902 } /* Generic.Prompt */
.py-source .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.py-source .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.py-source .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.py-source .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.py-source .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.py-source .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.py-source .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.py-source .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.py-source .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.py-source .ld { color: #000000 } /* Literal.Date */
.py-source .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.py-source .s { color: #4e9a06 } /* Literal.String */
.py-source .na { color: #c4a000 } /* Name.Attribute */
.py-source .nb { color: #204a87 } /* Name.Builtin */
.py-source .nc { color: #000000 } /* Name.Class */
.py-source .no { color: #000000 } /* Name.Constant */
.py-source .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.py-source .ni { color: #ce5c00 } /* Name.Entity */
.py-source .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.py-source .nf { color: #000000 } /* Name.Function */
.py-source .nl { color: #f57900 } /* Name.Label */
.py-source .nn { color: #000000 } /* Name.Namespace */
.py-source .nx { color: #000000 } /* Name.Other */
.py-source .py { color: #000000 } /* Name.Property */
.py-source .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.py-source .nv { color: #000000 } /* Name.Variable */
.py-source .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.py-source .pm { color: #000000; font-weight: bold } /* Punctuation.Marker */
.py-source .w { color: #f8f8f8 } /* Text.Whitespace */
.py-source .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.py-source .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.py-source .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.py-source .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.py-source .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.py-source .sa { color: #4e9a06 } /* Literal.String.Affix */
.py-source .sb { color: #4e9a06 } /* Literal.String.Backtick */
.py-source .sc { color: #4e9a06 } /* Literal.String.Char */
.py-source .dl { color: #4e9a06 } /* Literal.String.Delimiter */
.py-source .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.py-source .s2 { color: #4e9a06 } /* Literal.String.Double */
.py-source .se { color: #4e9a06 } /* Literal.String.Escape */
.py-source .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.py-source .si { color: #4e9a06 } /* Literal.String.Interpol */
.py-source .sx { color: #4e9a06 } /* Literal.String.Other */
.py-source .sr { color: #4e9a06 } /* Literal.String.Regex */
.py-source .s1 { color: #4e9a06 } /* Literal.String.Single */
.py-source .ss { color: #4e9a06 } /* Literal.String.Symbol */
.py-source .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.py-source .fm { color: #000000 } /* Name.Function.Magic */
.py-source .vc { color: #000000 } /* Name.Variable.Class */
.py-source .vg { color: #000000 } /* Name.Variable.Global */
.py-source .vi { color: #000000 } /* Name.Variable.Instance */
.py-source .vm { color: #000000 } /* Name.Variable.Magic */
.py-source .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */